<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
	<title>Register Page</title>
	<!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="../static/Login.css">
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card2">
				<div class="card-header">
					<h3>Register</h3>
					<!-- <div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span>
						<span><i class="fab fa-google-plus-square"></i></span>
						<span><i class="fab fa-twitter-square"></i></span>
					</div> -->
				</div>
				<div class="card-body">
					<form method = "POST" action = "">
						{{ form.hidden_tag() }}
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{% if form.first_name.errors %}
								{{ form.first_name(class="form-control is-invalid", placeholder="First Name") }}
									<div class="invalid-feedback">
										{% for error in form.first_name.errors %}	
											<span>{{ error }}</span>
										{% endfor%}
									</div>
							{% else %}
								{{ form.first_name(class="form-control", placeholder="First Name") }}
							{% endif %}
                        </div>
                        <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{% if form.last_name.errors %}
								{{ form.last_name(class="form-control is-invalid", placeholder="Last Name") }}
									<div class="invalid-feedback">
										{% for error in form.last_name.errors %}	
											<span>{{ error }}</span>
										{% endfor%}
									</div>
							{% else %}
								{{ form.last_name(class="form-control", placeholder="Last Name") }}
							{% endif %}
                        </div>
                        <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{% if form.email.errors %}
								{{ form.email(class="form-control is-invalid", placeholder="Email") }}
									<div class="invalid-feedback">
										{% for error in form.email.errors %}	
											<span>{{ error }}</span>
										{% endfor%}
									</div>
							{% else %}
								{{ form.email(class="form-control", placeholder="Email") }}
							{% endif %}

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{% if form.password.errors %}
								{{ form.password(class="form-control is-invalid", placeholder="Password") }}
									<div class="invalid-feedback">
										{% for error in form.password.errors %}	
											<span>{{ error }}</span>
										{% endfor%}
									</div>
							{% else %}
								{{ form.password(class="form-control", placeholder="Password") }}
							{% endif %}
                        </div>
                        <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{% if form.confirm_password.errors %}
								{{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm Password") }}
									<div class="invalid-feedback">
										{% for error in form.confirm_password.errors %}	
											<span>{{ error }}</span>
										{% endfor%}
									</div>
							{% else %}
								{{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
							{% endif %}

						</div>
						<div class="form-group">
							{{ form.submit(class="btn float-right login_btn") }}
                    	</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Have an account?<a href="{{ url_for('login') }}">Sign In</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>