<!-- <script src="/SIH_chatbot/sih_chatbot/templates/bootstrap/js/bootstrap.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
	<title>Chat</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	<link href="../static/ChatScreen.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<div class="container-fluid h-100">

		 <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"  data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="img/logo1.PNG" class="img-responsive"
                                    style="width: 80px; margin-top: -100px;"></a>
                        </div>
                        <div class=" navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#banner">Home</a></li>
                                <li class=""><a href="#service">Services</a></li>
                                <li class=""><a href="#about">About</a></li>
                                <li class=""><a href="#testimonial">Testimonial</a></li>
                                <li class=""><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
		<div class="row justify-content-center h-100">
			<div class="col-md-8 col-xl-6 chat">
				<div class="card">
					<div class="card-header msg_head">
						<!-- <div class="d-flex bd-highlight">
							<div class="img_cont">
								<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
								<span class="online_icon"></span>
							</div>
						</div> -->
						<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
						<div class="action_menu">
							<ul>
								<li><i class="fas fa-user-circle"></i> View profile</li>
								<li><i class="fas fa-users"></i> Add to close friends</li>
								<li><i class="fas fa-plus"></i> Add to group</li>
								<li><i class="fas fa-ban"></i> Block</li>
							</ul>
						</div>
					</div>
					<div class="card-body msg_card_body" id="content">
						<div class="d-flex justify-content-start mb-4">
							<!-- <div class="img_cont_msg">
								<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
									class="rounded-circle user_img_msg">
							</div> -->
							<div class="msg_cotainer">
								Hi, how are you samim?
							</div>
						</div>
						{% for message in messages %}
						{% if message.key %}
						<div class="d-flex justify-content-end mb-4">
							<div class="msg_cotainer_send">
								{{message.message}}
							</div>
						</div>
						{% else %}
						<div class="d-flex justify-content-start mb-4">
							<div class="msg_cotainer">
								{{message.message}}
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<div class="card-footer">
						<div class="input-group">
							<div class="input-group-append">
								<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
							</div>
							<input type="text" placeholder="enter message" id="chat_text">
							<div class="input-group-append">
								<span class="input-group-text send_btn" id="chat_btn"><i
										class="fas fa-location-arrow"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>

			$(function () {

				//   $('#start_chat').on('click', function() {

				//     username = $('#username_input').val();
				//     $('.modal').removeClass('is-active');

				//   });

				$('#chat_btn').on('click', function () {
					// console.log('chat_btn')
					let message = $('#chat_text').val();

					$.post('/message', { 'message': message }, function () {
						$('#chat_text').val('');
						console.log('chat_text')
					});

				});

				// Enable pusher logging - don't include this in production
				Pusher.logToConsole = true;

				var pusher = new Pusher('474991b3a2877f9aa291', {
					cluster: 'ap2',
					forceTLS: true
				});

				var channel = pusher.subscribe('chat-channel');

				channel.bind('new-message', function (data) {
					console.log('checking append')
					//   let name = data.username;
					let message = data.message;
					let key = data.key;
					//let reply="hi";
					if (key === true) {
						var message_template = `<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										${message}
									</div>
								</div>`;
					}
					else {
						var message_template = `<div class="d-flex justify-content-start mb-4">
									<div class="msg_cotainer">
										${message}
									</div>
								</div>`;

					}
					$('#content').append(message_template);

				});



			});

		</script>
		<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>