<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Patient Creation </legend>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Photo">Photo</label>
            <div class="col-md-4">
                <input id="Photo" name="Photo" class="input-file" type="file">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Registration Number ">Registration Number </label>
            <div class="col-md-4">
                <input id="Registration Number " name="Registration Number " type="text" placeholder=""
                    class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="BHT Number">BHT Number</label>
            <div class="col-md-4">
                <input id="BHT Number" name="BHT Number" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Marriage Status</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">Married</option>
                    <option value="2">Unmarried</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Patient Name ">Patient Name </label>
            <div class="col-md-4">
                <input id="Patient Name " name="Patient Name " type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Patient Status ">Patient Status </label>
            <div class="col-md-4">
                <select id="Patient Status " name="Patient Status " class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                    <option value="3">Option three</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Registration Date </label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Registration Date "
                    class="form-control input-md">

            </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Gender">Gender</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="Gender-0">
                        <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
                        Option one
                    </label>
                </div>
                <div class="radio">
                    <label for="Gender-1">
                        <input type="radio" name="Gender" id="Gender-1" value="2">
                        Option two
                    </label>
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Date of Birth">Date of Birth</label>
            <div class="col-md-4">
                <input id="Date of Birth" name="Date of Birth" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="NIC">NIC</label>
            <div class="col-md-4">
                <input id="NIC" name="NIC" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Relation">Relation</label>
            <div class="col-md-4">
                <input id="Relation" name="Relation" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Guardian">Guardian</label>
            <div class="col-md-4">
                <input id="Guardian" name="Guardian" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Contact Number">Contact Number</label>
            <div class="col-md-4">
                <input id="Contact Number" name="Contact Number" type="text" placeholder=""
                    class="form-control input-md">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Address">Address</label>
            <div class="col-md-4">
                <textarea class="form-control" id="Address" name="Address"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Save"></label>
            <div class="col-md-4">
                <button id="Save" name="Save" class="btn btn-success">Save</button>
            </div>
        </div>

    </fieldset>
</form>